.DS_Store
*.pyc
__pycache__
*.txt
*.csv
*.svm
*.db
doc
cache

#nltk-data
#pattern-data
#wn-data
+docs
+private
en/+docs
pattern/examples/01-web/*.jpg
pattern/examples/06-graph/test*
pattern/examples/06-graph/trend*

linguistics-archives
linguistics-data
